body {
    background-color: #fefefe;
    color: #3d3d3d;
    font-size: 1.2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
}

h2 {
  color: #c8c8c8;  
}

ul {
    list-style-type: none;
    padding-left: 0px;
}

li {
    padding-bottom: 1.2rem;
}

a {
    color: #7777ff;
    text-decoration: none;
    
}

.option {
    font-size: 1.5em;
}

.grid {
    display: grid;
    grid-template-areas: 'left content right';
    grid-template-columns: 1fr 3fr 1fr;
}

.content_grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header"
        "left right";
    height: 75vh;   
}

.title_page {
    padding: 25px;
}

.content_grid__left {
    padding: 25px;
    background-color: #3d3d3d;
    color: #fefefe;
}

.content-link {
    color: #bbbbff;
    text-decoration: none;
}

.content_grid__right {
    padding: 25px;
    background-color: #f8f8f8;
}

.header {
    height: 5vh; 
}

.options {
    padding: 20px;
    height: 200px;
}

.next {
    float: right;
}

 @media screen and (max-width: 1000px) {
    .grid {
        grid-template-columns: 0fr 1fr 0fr;
    }

    .content_grid {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        grid-template-areas: 
            "left"
            "right";
        height: 100vh;   
    }

    .header {
        height: 0vh; 
    }


    body {
        font-size: 2.2em;
    }

    .options {
        position: fixed;
        height: 50px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        margin: 20px;
    }
}